<div class="page-register-content">
    <h2>Cadastro de páginas</h2>

    <input pInputText [(ngModel)]="pageRegister.pageName" placeholder="Nome da página">
    <br>
    <input pInputText [(ngModel)]="pageRegister.pageURL" placeholder="URL da página">

    <h2>Permissão de usuário</h2>
    <div *ngFor="let profile of profiles">
        <p-checkbox (onChange)="checkEvent($event, profile.id)"></p-checkbox>
        <span>{{profile.constante}}</span>
    </div>

    <br>

    <p-button label="Salvar" (click)="save()"></p-button>
</div>