<div class="company-dashboard-content">
    <p-confirmDialog></p-confirmDialog>

    <div class="header">
        <h1>Dashboard</h1>
    </div>

    <div class="p-grid">

        <div class="p-col-12 p-md-12 p-lg-12">
            <p-card header="Vagas">
                <app-job-list></app-job-list>
            </p-card>
        </div>

        <div class="p-col-12 p-md-12 p-lg-6">
            <p-card header="Questionários">
                <app-questionnaire-list></app-questionnaire-list>
            </p-card>
        </div>

        <div class="p-col-12 p-md-12 p-lg-6">
            <p-card header="Etapas do processo seletivo">
                <app-selective-process-list></app-selective-process-list>
            </p-card>
        </div>

        <div class="p-col-12 p-md-12 p-lg-6">
            <p-card header="Chart Exemple 1">
                <p-chart type="bar" [data]="dataToThirtyDaysChart"></p-chart>
            </p-card>
        </div>

        <div class="p-col-12 p-md-12 p-lg-6">
            <p-card header="Chart Exemple 2">
                <p-chart type="bar" [data]="dataToThirtyDaysChart"></p-chart>
            </p-card>
        </div>

        <div class="p-col-12 p-md-12 p-lg-12">
            <p-card header="Suas mensagens">
                Body Content
            </p-card>
        </div>

    </div>

</div>