<div class="applied-jobs-content">
    <div class="applied-jobs-header">
        <div class="title">
            <h1>Minhas candidaturas</h1>
        </div>
    </div>

    <hr class="separator">

    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

    <div class="applied-jobs-list">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-4" *ngFor="let job of jobs">
                <p-card [header]="job.title" subheader="{{job.city}}, {{job.state}}" [ngClass]="job.city ? '' : 'sem-subheader'">
                    <p style="overflow-wrap: break-word;">{{job.shortDescription}}</p>
                    <p-footer>
                        <p-button label="Minha candidatura" class="hireme-green-button" (click)="myApplication(job.id)"></p-button>
                        <span class="spacer-left"></span>
                        <p-button label="Desistir"></p-button>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </div>

    <div class="no-jobs-found" *ngIf="jobs.length == 0">
        <p>Você ainda não se candidatou para nenhuma vaga :(</p>
        <br>
        <p>Quer ver nossas vagas? Clique no botão abaixo para ir dar uma olhadinha!</p>
        <p-button label="Nossas vagas" (click)="openJobsList()"></p-button>
    </div>
</div>