<div class="change-password-content">
    <div class="change-password-form">
        <div class="p-grid">

            <div class="p-col-12 p-md-12 p-lg-12" *ngIf="showErrorMessage">
                <div class="error-message">
                    <i class="pi pi-times"></i>
                    <span>{{errorMessage}}</span>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Senha atual: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <input pInputText type="password" class="input-width" [(ngModel)]="changePassword.currentPassword">
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Nova senha: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <input pInputText type="password" class="input-width" [(ngModel)]="changePassword.newPassword">
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Repita a nova senha: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <input pInputText type="password" class="input-width" [(ngModel)]="changePassword.confirmationNewPassword">
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12" style="text-align: center;">
                <p-button label="Alterar senha" (click)="send()"></p-button>
            </div>
        </div>
    </div>
</div>