.span-alignment {
    text-align: end;
}

.p-inputnumber, .p-dropdown, .input-width {
    width: 70%;
}

.error-message {
    text-align: center;
    background: lightcoral;
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 5px;
    border-radius: 50px;

    span {
        margin-left: 10px;
    }
}

@media(max-width: 767px) {
    .span-alignment {
        text-align: center !important;
    }
    
    .p-inputnumber, .p-dropdown, .input-width {
        width: 100%;
    }
}