<div class="errorMessage" *ngIf="false">
    <img class="images" src="../../assets/icons/outline_error_outline_black_18dp.png" >
    <label></label>
</div>
<div id="formContent">
    <h2 class="active" >Cadastrar </h2>

    <form >
        <div class="column">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" style="width: 65%;">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" style="width: 65%;">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha" style="width: 65%;" [(ngModel)]="user.senha">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Confirme a senha" style="width: 65%;" [(ngModel)]="user.senhaConfirmada">
        </div>
    </form>
    <div >
        <input type="submit" class="fadeIn fourth" value="Registrar" (click)="register()" >
    </div>
    
    <div class="spinner" align="center" *ngIf="false">
        <mat-spinner></mat-spinner>
    </div>

</div>