@import url('https://fonts.googleapis.com/css?family=Poppins');

.header {
    width: auto;
    height: auto;
}

a {
  color: var(--third-color);
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
    cursor: pointer;
}

h2 {
    color: #0d0d0d;
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
}

h3 {
    color: #0d0d0d;
    border-bottom: 2px solid var(--third-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
}

.errorMessage {
  background-color: #FF7F74;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  position: absolute;
  color: white;
  font-size: 20px;
  top: 15%;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

.forgot-actual-password {
    margin-top: 15px;
    font-size: medium;
}

.spinner {
  padding: 30px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 30%;
}