<div class="header" align="center">
    <app-hire-me-title [text]="'Configurações da conta'"></app-hire-me-title>
</div>

<div class="body" align="center">
    <app-hire-me-title [text]="'Sua foto'"></app-hire-me-title>
    <app-image-upload [img]="image" [editable]="true" (change)="setImage($event)"></app-image-upload>
    
    <app-hire-me-title [text]="'Conta'"></app-hire-me-title>
    <div class="fields">
        <form>
            <app-input-text [placeholder]="'Nome'" [width]="60"></app-input-text>
            <app-input-text [placeholder]="'Nome completo'" [width]="60"></app-input-text>
            <app-input-text [placeholder]="'Cidade'" [width]="60"></app-input-text>
            <app-input-text [placeholder]="'Estado'" [width]="60"></app-input-text>
            <app-input-text [placeholder]="'Endereço'" [width]="39"></app-input-text>
            <app-input-text [placeholder]="'CEP'" [width]="20"></app-input-text>
        </form>
    </div>
    <app-hire-me-title [text]="'Senha'"></app-hire-me-title>
    <div class="fields">
        <form>
            <app-input-password [placeholder]="'Senha atual'" [width]="60"></app-input-password>
            <app-input-password [placeholder]="'Nova senha'" [width]="60"></app-input-password>
            <app-input-password [placeholder]="'Repita a nova senha'" [width]="60"></app-input-password>
        </form>
        <div class="forgot-actual-password">
            Não lembra da sua senha atual? <a (click)="sendEmail(dialog)">Clique aqui</a> que enviaremos um e-mail para você!
        </div>
    </div>

    <div class="button">
        <app-hire-me-button [buttonTitle]="'Salvar'"></app-hire-me-button>
    </div>
</div>
<ng-template #dialog>
    <div class="dialog-content">
        <div style="display: flex;">
            <h1 class="title">Email enviado</h1>
            <label class="label-x" (click)="closeDialog()" >&#10005;</label>
        </div>
        <hr>
        <div class="dialog-body">
            <p>Enviamos um email para USER-EMAIL</p>
        </div>
    </div>
</ng-template>
