<div class="header" align="center">
</div>

<div class="body" align="center">
    <app-hire-me-title [text]="'Sua foto'"></app-hire-me-title>
    <app-image-upload [img]="image" [editable]="true" (change)="setImage($event)"></app-image-upload>
    
    <app-hire-me-title [text]="'Conta'"></app-hire-me-title>
    <div class="fields">
        <form>
            <input type="text" pInputText placeholder="Nome" style="width:60%;" [(ngModel)]="candidate.name" name="name" />
            <input type="text" pInputText placeholder="Nome completo" style="width:60%;" [(ngModel)]="candidate.full_name" name="full-name"/>
            <input type="text" pInputText placeholder="Cidade" style="width:60%;" [(ngModel)]="candidate.city" name="city"/>
            <input type="text" pInputText placeholder="Estado" style="width:60%;" [(ngModel)]="candidate.state" name="state"/>
            <input type="text" pInputText placeholder="Endereço" style="width:60%;" [(ngModel)]="candidate.address" name="address"/>
            <input type="text" pInputText placeholder="Complemento" style="width:41%;" [(ngModel)]="candidate.complement" name="complement"/>
            <p-inputMask mask="99999-999" placeholder="CEP" [style]="{'width':'19%', 'margin-bottom':'10px'}"[(ngModel)]="candidate.cep" name="address-number"></p-inputMask>
        </form>
    </div>

    <app-hire-me-title [text]="'Geral'"></app-hire-me-title>
    <div class="fields">
        <form>
            <input type="text" pInputText placeholder="E-mail" style="width:60%;" [(ngModel)]="candidate.email" name="email" />
            <p-inputMask mask="999.999.999-99" placeholder="CPF" [style]="{'width':'60%', 'margin-bottom':'10px'}" [(ngModel)]="candidate.cpf" name="cpf"></p-inputMask>
            <p-inputMask mask="99.999.999-9" placeholder="RG" [style]="{'width':'60%', 'margin-bottom':'10px'}" [(ngModel)]="candidate.rg" name="rg"></p-inputMask>
            <p-calendar placeholder="Data de nascimento" [locale]="pt" dateFormat="dd/mm/yy" [style]="{'width':'60%'}" [(ngModel)]="candidate.birth_date" name="birthdate"></p-calendar>
        </form>
    </div>

    <app-hire-me-title [text]="'Senha'"></app-hire-me-title>
    <div class="fields">
        <form>
            <input type="password" pInputText placeholder="Senha atual" style="width:60%;"/>
            <input type="password" pInputText placeholder="Nova senha" style="width:60%;"/>
            <input type="password" pInputText placeholder="Repita a nova senha" style="width:60%;"/>
        </form>
    </div>

    <div class="button">
        <button pButton label="Salvar" (click)="updateCandidateDetails()"></button>
    </div>
</div>
