.selective-process-register-content {
    margin-top: 5%;
    width: 100%;
}


.selective-process-register-not-editable {
    text-align: center;
    padding: 25px;
    border: 1px solid black;
    margin: 5% 15%;
    background: red;
    
    p {
        color: white;
        margin-bottom: 0;
    }

    .pi {
        font-size: 1.5em;
    }
}

.selective-process-title {
    text-align: center;
    font-size: 40px;
}

.p-inputnumber, .p-dropdown, .input-width {
    width: 70%;
}

.span-alignment {
    text-align: end;
}

.p-editor-container {
    width: 70% !important;
}

.save-button {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.selective-process-steps-list {
    margin: 3% 15%;
}

.selective-process-step-order {
    p {
        margin-bottom: 0;
    }

    input {
        margin-bottom: 15px;
    }
}

@media(max-width: 767px) {
    .span-alignment {
        text-align: center !important;
    }
    
    .p-inputnumber, .p-dropdown, .input-width {
        width: 100%;
    }

    .p-editor-container {
        width: 100% !important;
    }
}