.job-detail-content {
    margin: 0;
    overflow-x: hidden;
}


.jobs-detail-header {
    background-image: url('../../../../assets/img/gallery_hero.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 200px;

    display: grid;
    place-items: center;


    .title {
      h1 {
        text-align: center !important;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
          color: #fff;
      }
    }
}

.description, .details {
    padding: 3%;
    margin-top: 2%;
    border-right: 1px solid black;
}

.button {
    padding: 3%;
}

.details {
    h5 {
        margin-top: 15px;
    }
}

h5 {
    text-transform: capitalize;
    font-size: 25px;
}