<div class="wrapper fadeInDown">
    <div class="errorMessage" *ngIf="showErrorMessage()">
        <img class="images" src="../../assets/icons/outline_error_outline_black_18dp.png" >
        <label>{{errorMessage}}</label>
    </div>
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Entrar </h2>
        <h2 class="inactive underlineHover" (click)="register()">Cadastrar </h2>

        <!-- Icon -->
        <div class="fadeIn first">
        </div>

        <!-- Login Form -->
        <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" [(ngModel)]="user.user">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha" [(ngModel)]="user.password" >
        <input type="submit" class="fadeIn fourth" value="Entrar" (click)="doLogin()">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
        <a class="underlineHover" href="#">Esqueceu a senha?</a>
        </div>
        
        <div class="spinner" align="center" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
    </div>

</div>