<div class="content" align="center">
    <h2 class="active">Dados Gerais</h2>
    <form >
        <input type="text" id="password" class="fadeIn third" name="cpf" placeholder="CPF" style="width: 55%;">
        <input type="password" id="password" class="fadeIn third" name="rg" placeholder="RG" style="width: 55%;">
        <input type="text" id="login" class="fadeIn second" name="name" placeholder="Nome completo" style="width: 55%;">
        <input type="text" id="login" class="fadeIn second" name="birthDate" placeholder="Data de nascimento" style="width: 55%;">
    </form>
    <h2 class="active">Endereço</h2>
    <form>
        <input type="text" id="password" class="fadeIn third" name="city" placeholder="Cidade" style="width: 55%;">
        <input type="text" id="password" class="fadeIn third" name="state" placeholder="Estado" style="width: 55%;">
        <input type="text" id="login" class="fadeIn second" name="country" placeholder="Pais" style="width: 55%;">
        <div>
            <input type="text" id="login" class="fadeIn second" name="address" placeholder="Endereço" style="width: 34.5%;">
            <input type="text" id="login" class="fadeIn second" name="cep" placeholder="CEP" style="width: 20%;">
        </div>
        <div>
            <input type="text" id="login" class="fadeIn second" name="number" placeholder="Número" style="width: 30%;">
            <input type="text" id="login" class="fadeIn second" name="complement" placeholder="Complemento" style="width: 24.5%;">
        </div>
    </form>
    <form style="padding: 2%;">
        <mat-checkbox></mat-checkbox>
        <label style="margin-left: 5px;">Você concorda com os <a>termos de uso?</a></label>
    </form>
    <div>
        <app-hire-me-button [buttonTitle]="'Registrar'"></app-hire-me-button>
    </div>
</div>