<div class="questionnaire-register-content">

    <div class="questionnaire-register-form">
        <h1 class="questionnaire-register-title">Geral</h1>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Titulo do questionário: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <input pInputText type="text" class="input-width" [(ngModel)]="questionnaire.title">
                    </div>
                </div>
            </div>
        </div>

        <h1 class="questionnaire-register-title">Questão</h1>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Questão: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <p-editor [style]="{'height':'320px'}" [(ngModel)]="question.questionTitle"></p-editor>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Texto ajuda: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <input pInputText type="text" class="input-width" [(ngModel)]="question.questionHelp">
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-12 p-md-4 p-lg-4 span-alignment">
                        <span>Tipo de resposta: </span>
                    </div>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <p-dropdown [options]="answerTypes" [(ngModel)]="question.answerType"></p-dropdown>
                    </div>
                </div>

                <div class="p-grid" *ngIf="question.answerType == 'E'">
                    <div class="p-col-12 p-md-12 p-lg-4 span-alignment">
                        <span>Opção: </span>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-8">
                        <div class="questionnaire-options" *ngFor="let option of question.questionnaireQuestionOption">
                            <input pInputText type="text" class="input-width" [(ngModel)]="option.optionTitle">
                            <i class="pi pi-times" (click)="removeOption(option)"></i>
                            <p class="spacer"></p>
                        </div>
                        <p class="spacer"></p>
                        <p-button label="Adicionar opção" (click)="addOption()"></p-button>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 align-center">
                <p-button label="Adicionar questão" (click)="addQuestion()"></p-button>
            </div>
        </div>

    </div>

    <div class="save-question-list" *ngIf="questionnaire.questionnaireQuestions.length !== 0">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <h1 class="questionnaire-register-title">Questões salvas</h1>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <div class="question-list" *ngFor="let question of questionnaire.questionnaireQuestions; let i = index">
                    <p-accordion class="hire-me-accordion">
                        <p-accordionTab header="Questão {{i}}">
                            <div class="question-text">
                                <b>Questão</b>
                                <div [innerHTML]="question.questionTitle"></div>
                            </div>

                            <div class="question-help-text" *ngIf="question.questionHelp">
                                <b>Ajuda</b>
                                <p>{{question.questionHelp}}</p>
                            </div>

                            <div class="answer-type">
                                <b>Tipo de resposta: </b>
                                <p *ngIf="question.answerType === 'T'">Texto</p>
                                <p *ngIf="question.answerType === 'E'">Multipla escolha</p>
                            </div>

                            <div class="question-options" *ngIf="question.questionnaireQuestionOption.length !== 0 && question.answerType === 'E'">
                                <b>Opções</b>
                                <table>
                                    <tr>
                                        <div *ngFor="let option of question.questionnaireQuestionOption; let i = index">
                                            <td>
                                                {{i}} - {{option.optionTitle}}
                                            </td>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <p-button label="Salvar questão" (click)="saveQuestionnaire()"></p-button>
    </div>

</div>