.header {
    background-image: url('../../../../assets/img/about_hero.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 200px;
  
    display: grid;
    place-items: center;
  
  
    .title {
      h1 {
        text-align: center !important;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
}  

.sub-header {
    text-align: center;
}

h1 {
    font-size: 30px;
}

.p-inputtext {
    width: 100%;
    margin-bottom: 10px;
}
  
.p-calendar {
    width: 100% !important;
}

.current-job-div {
    text-align: start;
    margin-bottom: 2%;
}

input[type='file'] {
    display: none
}

.clickable {
    cursor: pointer;
}

.my-habilities {
    text-align: center;

    .p-chips {
        width: 75%;
    }
}