.jobs-content {
    overflow-x: hidden;
}

.jobs-header {
    background-image: url('../../../assets/img/gallery_hero.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 200px;

    display: grid;
    place-items: center;


    .title {
      h1 {
        text-align: center !important;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
}

.jobs {
    padding-top: 20px;
    .filter {
        text-align: center;
        // background-color: #f6f9fe;
        h5 {
            font-size: 20px;
            text-transform: capitalize;
        }
        
        input {
            width: 95%;
        }

        button {
            padding: 10px 50px;
        }
    }

    .job-list {
        margin-top: 15px;

        .p-card {
            margin-right: 15px;
        }
    }
}

@media(max-width:991px) {
    .jobs {
        .job-list{ 
            .p-card {
                margin-right: 0 !important;
            }
        }
    }
}