<div class="jobs-content">

  <div class="jobs-header">
    <div class="title">
      <h1>Vagas</h1>
    </div>
  </div>

  <app-loading-spinner [showText]="true" *ngIf="isLoading"></app-loading-spinner>

  <hr class="separator">
  <div class="jobs">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-4 filter">
        <p-card>
          <h5>Cargo</h5>
          <input id="job-title" type="text" pInputText>

          <p class="spacer"></p>

          <h5>Localização</h5>
          <input id="job-localization" type="text" pInputText>

          <p class="spacer"></p>

          <p-button label="Filtrar" (click)="filter()"></p-button>
        </p-card>
      </div>

      <div class="p-col-12 p-md-12 p-lg-8 job-list">
        <div *ngFor="let job of jobs">
          <p-card [header]="job.title">
            <p>{{ job.description }}</p>
            <p-button label="Saiba mais"></p-button>
          </p-card>
          <p class="spacer"></p>
        </div>
      </div>

    </div>
  </div>

</div>