.forgot-password-content {
    overflow-x: hidden;
}
  
.spacer {
    margin: 10px;
}

.header {
    background-image: url('../../../../assets/img/services_hero.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 200px;

    display: grid;
    place-items: center;

    .title {
        h1 {
            text-align: center !important;
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            text-transform: initial;
        }
    }
}

.forgot-password-form {
    padding: 5%;
    text-align: center;
}


.help-text {
    text-transform: inherit;
    font-size: 18px;
    width: 50%; 
    margin: 0 auto;
    margin-bottom: 5%;
}