<div class="forgot-password-content">

    <div class="header">
        <div class="title">
            <h1>Esqueceu a senha</h1>
        </div>
    </div>

    <hr class="separator">

    <div class="forgot-password-form">

        <h4 class="help-text">
            Informe seu e-mail que foi utilizado no cadastro que iremos gerar uma senha nova para você.
            Após clicar no botão de enviar, verifique seu e-mail
        </h4>

        <p>Seu email:</p>
        <input pInputText style="width: 50%; margin-bottom: 15px;" [(ngModel)]="forgotPasswordEmail">
        <br>
        <p-button label="Enviar" (click)="send()"></p-button>
    </div>
</div>