<div class="messages-list-content">
    <div class="messages-list-header">
        <h1>Suas mensagens</h1>
    </div>

    <div class="messages list">
        <p-table [value]="messages" class="hire-me-datatable">
            <ng-template pTemplate="header">
                <tr>
                    <th>Usuário</th>
                    <th></th>
                    <th>Visualizar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-message>
                <tr>
                    <td>
                        {{message.fromName}}
                    </td>
                    <td></td>
                    <td>
                        <p-button label="Visualizar" (click)="viewMessages(message.roomId)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>