<div class="login-content">

    <div class="header">
        <div class="title">
            <h1>Login</h1>
        </div>
    </div>

    <div class="login-form">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <h5>Email</h5>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
                <input id="email" type="text" [(ngModel)]="user.email" pInputText>
            </div>

            <p class="spacer"></p>

            <div class="p-col-12 p-md-12 p-lg-12">
                <h5>Senha</h5>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
                <input id="password" type="password" [(ngModel)]="user.password" pInputText>
                <p class="forgot-password"> Esqueceu sua senha?
                    <a>Clique aqui</a>
                </p>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
                <p-button label="Login" (click)="doLogin()"></p-button>
            </div>

            
            <div class="p-col-12 p-md-12 p-lg-12">
                <hr>
                <p class="forgot-password"> Ainda não tem uma conta?
                    <a (click)="goRegister()">Registre-se</a>
                </p>
            </div>
        </div>
    </div>

</div>