.main-panel {
  display: grid;
  place-items: center;
  margin-top: 5em;
}

.columns {
  padding: 10em;
  border-radius: 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  columns: 2;

}

.fields-panel {
  display: grid;
  place-items: center;
}

.spacer {
  margin-bottom: 2em;
}

input {
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 10em;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #495057;

}

.input-field {
  width: 90%;;
}

.button-login {
  width: 90%;
}

.click:hover {
  cursor: pointer;
  font-weight: 500;
}

@media(max-width:960px) {
  *{
    font-weight: 500;
  }

  .main-panel {
    margin-top: 0.5em;
  }

  .columns {
    columns: 1;
    padding: 5em;
  }

  .left-column{
    display: none;
  }

  .input-field  {
    width: 160%;
  }

  .button-login {
    width: 160%;
  }
}