<script src="https://kit.fontawesome.com/62fd25cca2.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="avatar-upload">
        <div class="avatar-edit" *ngIf="editable">
            <input type="file" id="imageUpload" accept="png, jpg, jpeg">
            <label for="imageUpload" class="icon-add">
                <div class="icon">
                    <i class="pi pi-plus"></i>
                </div>
            </label>
        </div>
        <div class="avatar-preview">
            <img *ngIf="img == undefined" src="../../../assets/img/no-photo.png" class="avatar-preview">
            <img *ngIf="img != undefined" [src]="img" class="avatar-preview">
        </div>
    </div>
</div>

<!-- <div class="image-cropper" align="center">
    <input type="file" id="imageUpload" accept="png, jpg, jpeg">
            <label for="imageUpload" class="icon-add">
                <div class="icon">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </div>
            </label>
    <img *ngIf="img == undefined" src="../../../assets/img/no-photo.png" class="profile-pic">
    <img *ngIf="img != undefined" [src]="img" class="profile-pic">
</div> -->