<div class="upper-menu">
    <div class="menu-item">
        <nav class="nav">
            <div class="nav__title">Site Title</div>
            <ul class="nav__list">
                <li class="nav__item" (click)="redirectToPage('Home')">
                    <label>Página inicial</label>
                </li>
                <li class="nav__item" (click)="redirectToPage('Jobs')">
                    <label>Vagas</label>
                </li>
                <li class="nav__item">
                    <label>Para empresas</label>
                </li>
                <li class="nav__item">
                    <label>Sobre nós</label>
                </li>
                <li class="nav__item" *ngIf="!userName">
                    <label (click)="openDialog('Login')">Entrar</label>
                    <label>/</label>
                    <label (click)="openDialog('Register')">Registrar</label>
                </li>
                <li *ngIf="userName" class="nav__item" [matMenuTriggerFor]="menu">
                    <div class="user-name-option">
                        <label>Olá, {{userName}}</label>
                        <img class="image" src="../assets/icons/baseline_keyboard_arrow_down_white_18dp.png" width="20px" height="20px"> 
                    </div>
                </li>
                <mat-menu #menu="matMenu" class="drop-down-menu">
                    <button mat-menu-item>Vagas aplicadas</button>
                    <button mat-menu-item>Meu curriculo</button>
                    <button mat-menu-item (click)="redirectToPage('Config')">Configurações</button>
                    <button mat-menu-item (click)="logout()">Sair</button>
                </mat-menu>
            </ul>
        </nav>
    </div>
</div>
<div class="content" style="width: 100%; height: 100%;">
    <div style="padding: 3%;">
        <router-outlet></router-outlet>
    </div>
</div>