<div class="upper-menu">
    <div class="menu-item">
        <div class="columns">
            <div class="row">
                logo
            </div>
            <div class="row">
                <a class="menu-option" (click)="redirectToPage('Home')">página inicial</a>
            </div>
            <div class="row">
                <a class="menu-option" (click)="redirectToPage('Jobs')">buscar vagas</a>
            </div>
            <div class="row">
                <a class="menu-option">para empresas</a>
            </div>
            <div class="row">
                <a class="menu-option">sobre nós</a>
            </div>
            <div class="row">
                <div *ngIf="!userName">
                    <a class="menu-option" (click)="loginOrRegister(1)">entrar</a>
                    /
                    <a class="menu-option" (click)="loginOrRegister(2)">registrar</a>
                </div>
                <div *ngIf="userName">
                    <label>Olá, {{userName}}</label>
                </div>
            </div>
            <div class="row" *ngIf="userName">
                <a class="menu-option" (click)="logOut()">sair</a>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div style="padding: 3%;">
        <router-outlet></router-outlet>
    </div>
</div>