<div class="upper-menu">
    <div class="menu-item">
        <nav class="nav">
            <div class="nav__title">Site Title</div>
            <ul class="nav__list">
                <li class="nav__item" (click)="redirectToPage('Home')">
                    <label>Página inicial</label>
                </li>
                <li class="nav__item" (click)="redirectToPage('Jobs')">
                    <label>Vagas</label>
                </li>
                <li class="nav__item">
                    <label>Para empresas</label>
                </li>
                <li class="nav__item">
                    <label>Sobre nós</label>
                </li>
                <li class="nav__item" *ngIf="!userName">
                    <label (click)="openDialog('Login')">Entrar</label>
                    <label>/</label>
                    <label (click)="openDialog('Register')">Registrar</label>
                </li>
                <li *ngIf="userName" class="nav__item">Olá, {{userName}}</li>
                <li *ngIf="userName" (click)="logOut()" class="nav__item">
                    <label>Sair</label>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="content" style="width: 100%; height: 100%;">
    <div style="padding: 3%;">
        <router-outlet></router-outlet>
    </div>
</div>