.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
    top: 0;
    
}

.subnav {
	position: sticky;
	bottom: 0;
	top: 60px;
}

.nav {
    color: white;
	background: var(--primary-color);
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-block;
		margin: 0px 30px;
	}
}

label:hover {
    cursor: pointer;
    border-bottom: solid white 2px;
}

.content{
    background-color: #ffffff;
    position: absolute;
    height: auto;

    .container{
        padding: 2%;
    }
}

.search-field-home {
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 25%;
    width: 45%;;

    input {
        width: 100%;
    }

    select {
        position: absolute;
        width: 50%;
        left: 25%;
    }
}

.image {
    cursor: pointer;
}

.mat-menu-content {
    background-color: var(--second-color) !important;
}

.mat-menu-item {
    color: white !important;
}