.terms {
  padding: 2%;

  label {
    color: black;
    margin-bottom: 0px;
  }

  a {
    color: var(--p-color);
    font-weight: bold;
  }
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

.errorMessage {
  background-color: #FF7F74;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  color: white;
  font-size: 15px;
}

.spinner {
  padding: 30px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 30%;
}

.content {
  color: white;
  padding: 9px;
}

.p-inputtext {
  width: 55%;
  margin-bottom: 10px;
}

.p-calendar {
  width: 55%;
  margin-bottom: 10px;
}

.help {
  margin-top: 30px;
  margin-bottom: 30px;
}

.next-prev-button {
  button {
    margin-right: 10px;
    margin-top: 10px;
  }
}

.p-dialog-content {
  .p-inputtext {
    width: 100%;
    margin-bottom: 10px;
  }
}

.p-datatable-thead {
  .ng-star-inserted {
    text-align: center !important;
  }
}

.p-selectable-row {
  .ng-star-inserted {
    text-align: center !important;
  }
}

@media(max-width: 960px){
  .p-inputtext {
    width: 90% !important;
  }

  .p-calendar {
    width: 90%;
  }

  .p-dialog {
    width: 90vw !important;
  }
}