<div class="header">
</div>
<div class="content">
  <div class="jobs-list" *ngIf="!isEditing">
      <div class="spinner" align="center" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div class="list" style="width: 100%;" *ngIf="jobs.length != 0" >
        <div class="filter-bar">
          Filtros
        </div>

        <span *ngIf="jobs.length == 0">Não existem vagas cadastradas</span>

        <div class="jobs-content" *ngFor="let job of jobs">
          <h1>{{job.title}}</h1>
          <hr>
          <p>{{job.description}}</p>
          <app-hire-me-button [buttonTitle]="'Saiba mais >>'" (click)="jobDetails(job.id)"></app-hire-me-button>
        </div>
      </div>
    </div>
</div>

<!--
  <table mat-table [dataSource]="jobs" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vaga </th>
        <td mat-cell *matCellDef="let job"> {{job.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Localização </th>
        <td mat-cell *matCellDef="let job"> {{job.city}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
          <td mat-cell *matCellDef="let job"><img src="../../assets/icons/baseline_create_black_18dp.png"></td>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </ng-container>
  </table>
-->