<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="redirectToPage('Home'); drawer.close()">Página inicial</a>
      <a mat-list-item (click)="redirectToPage('Jobs'); drawer.close()">Vagas</a>
      <a mat-list-item href="#">Para empresas</a>
      <a mat-list-item href="#">Sobre nós</a>
      <a mat-list-item *ngIf="!userName" (click)="redirectToPage('Login'); drawer.close()">Entrar</a>
      <a mat-list-item *ngIf="!userName" (click)="redirectToPage('Register'); drawer.close()">Registrar</a>
      <a mat-list-item *ngIf="userName" (click)="redirectToPage('Applied-Jobs')"> Vagas aplicadas </a>
      <a mat-list-item *ngIf="userName">Meu curriculo</a>
      <a mat-list-item *ngIf="userName" (click)="redirectToPage('Config'); drawer.close()">Configurações</a>
      <a mat-list-item *ngIf="userName" (click)="logout(); drawer.close()">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hire-me</span>
      <span class="spacer"></span>
      <div class="web-links">
        <label (click)="redirectToPage('Home')">Página inicial</label>
        <label (click)="redirectToPage('Jobs')">Vagas</label>
        <label href="#">Para empresas</label>
        <label href="#">Sobre nós</label>
        <label *ngIf="!userName" (click)="openDialog('Login')">Entrar</label>
        <label *ngIf="!userName" (click)="openDialog('Register')">Registrar</label>

        <label *ngIf="userName" [matMenuTriggerFor]="menu">
          <div class="user-name-option">
              <span>Olá, {{userName}}</span>
              <img class="image" src="../assets/icons/baseline_keyboard_arrow_down_white_18dp.png" width="20px" height="20px"> 
          </div>
        </label>
          

        <mat-menu #menu="matMenu" class="drop-down-menu">
          <!-- <button mat-menu-item (click)="redirectToPage('Applied-Jobs')">Vagas aplicadas</button>
          <button mat-menu-item>Meu curriculo</button>
          <button mat-menu-item (click)="redirectToPage('Config')">Configurações</button>
          <button mat-menu-item (click)="logout()">Sair</button> -->
          <button mat-menu-item *ngFor="let page of pages">
            {{ page.name }}
          </button>
          <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
