.login-content {
  overflow-x: hidden;
}

.spacer {
  margin: 10px;
}

.header {
    background-image: url('../../../../assets/img/services_hero.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 200px;

    display: grid;
    place-items: center;

    .title {
      h1 {
        text-align: center !important;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
}

.login-form {
  margin-top: 70px;
  text-align: center;

  h5 {
    font-size: 20px;
    text-transform: capitalize;
  }

  input {
    width: 20em;
  }

  .p-button {
    width: 10em !important;
  }

  .forgot-password {
    a:hover {
      cursor: pointer;
      font-weight: bolder;
    }
  }
}