* {
    color: white;
}

.page-content{
}

.chat-content{
    display: flex;
    columns: 2;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--second-color);
}

.chat-person{
    margin-bottom: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 9px;
}

.chat-person:hover{
    cursor: pointer;
    background-color: var(--third-color);
}

.person-content{
    columns: 2;
}

.person-name{
    font-size: x-large;
}

.person-ico{
    border-radius: 50%;
}

img{
    border-radius: inherit;
}

.person{
    width: 20%;
}

.chat-message{
    width: 100%;
    margin-left: 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.chat-header {
    padding: 9px;
    font-size: x-large;
    
    label{
        font-size: small;
    }
}

.chat{
    padding: 9px;
    height: 700px;
}

.messages{
    padding: 9px;
}

.contact-box{
    display: flex;
    label{
        background-color: white;
        color: black;
        margin-bottom: 10px;
        width: fit-content;
        padding: 9px;
        border-radius: 10px;
    }
}

.user-box{
    display: flex;
    label{
        background: blue;
        margin-bottom: 10px;
        width: fit-content;
        padding: 9px;
        float: right;
        border-radius: 10px;
    }
}

.spacer{
    width: 20%;
}

.input-text {
    margin-top: 10px;
    input{
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 15px 32px;
        font-size: large;
        height: 100%;
        width: 85%;
        background-color: white;
        color: black;
        border: none;
        border-radius: 10px;
    }

    button{
        background-color: var(--second-color);
        border: none;
        border-radius: 10px;
        padding: 15px 32px;
        margin-left: 10px;
        font-size: large;
    }

    button:hover{
        cursor: pointer;
        background-color: var(--third-color);
    }

    img {
        width: 30px;
        height: 30px;
    }
}