<div class="home-content">
    <div class="home-carousel">
        <div class="home-carousel-text">
            <p>Bem-vindo ao HireMe</p>
            <h1>Uma plataforma online de empregos</h1>
            <p-button label="VAGAS" (click)="openJobs()"></p-button>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-4">
                    <div class="image">
                        <img src="assets/img/team_1.jpg" alt="">
                    </div>
                    <div class="image-text">
                        <h4>Vagas em todo Brasil</h4>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .
                        </span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <div class="image">
                        <img src="assets/img/team_2.jpg" alt="">
                    </div>
                    <div class="image-text">
                        <h4>Vagas em todo Brasil</h4>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .
                        </span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4">
                    <div class="about-us">
                        <div class="text">
                            <h2>Hire Me</h2>
                            <hr>
                            <span>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore smod tem magna aliqua. Ut enim.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-services">
        <div class="title">
            <div class="p-col-12">
                <h2>Nossos serviços</h2>
            </div>
        </div>

        <div class="container">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-4 fade-color">
                    <div class="services">
                        <i class="pi pi-briefcase" style="font-size: 2rem"></i>
                        <br>
                        <h3>Entrevista</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                        </p>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-4 fade-color">
                    <div class="services">
                        <i class="pi pi-briefcase" style="font-size: 2rem"></i>
                        <br>
                        <h3>Contato com candidato</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                        </p>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4 fade-color">
                    <div class="services">
                        <i class="pi pi-briefcase" style="font-size: 2rem"></i>
                        <br>
                        <h3>Avaliações</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us">
        <div class="container">
            <div class="p-grid">
                <div class="p-col-12 p-md-4 p-lg-4">
                    <h3>Entre em contato conosco!</h3>
                    <p>
                        Utilize a ferramente ao lado para entrar em contato conosco. 
                        Venham fazer parte e utilizar nossa aplicação para fazer seus processos seletivos.
                    </p>
                </div>
                <div class="p-col-12 p-md-8 p-lg-8">
                    <div class="contact-form">
                        <input pInputText placeholder="Nome" [(ngModel)]="contact.name" style="margin-right: 15px; width: 45%;">
                        <input pInputText placeholder="E-mail" [(ngModel)]="contact.email" style="width: 45%;">
                        <p-dropdown [options]="options" [(ngModel)]="contact.position"></p-dropdown>
                        <textarea pInputTextarea placeholder="Sua mensagem" [rows]="8" [cols]="71" [(ngModel)]="contact.message"></textarea>
                        <p-button label="Enviar" (click)="sendContactEmail()"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
