.questionnaire-view-content {
    margin-top: 3%;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
}

.questionnaire-view-questions {
    margin: 3%;
}

.send-questionnaire-button {
    text-align: center;
    padding: 1% 4% 5% 4%;
}

.answered-questions {
    text-align: center;
    .questions {
        margin: 10px;
        border: 1px solid black;
        padding-left: 1%;
        padding-right: 1%;
    }

    .answered {
        background: green;
        color: white;
    }
}