.job-candidate-profile-content {
    padding: 15px;
}

.job-candidate-profile-header {
    text-align: center;
}

.job-candidate-photo-container {
    margin-top: 35px !important;
}

.job-candidate-text-fields {
    padding: 5%;
}

.job-candidate-profile-section {
    margin-bottom: 15px;
}

.job-candidate-profile-section-header {
    font-size: 20px;
}
