button {
    margin-top: 1%;
    background-color: var(--new-s-color);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 1%;
}

button:hover {
    background-color: var(--new-t-color);
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    cursor: pointer;
}