<div class="menu-bar">
    <ul>
        <li class="logo">Logo</li>
        <li class="menu-button" (click)="redirectToPage('/home')">
            <i class="fa fa-home" aria-hidden="true"></i>
            Pagina inicial
        </li>
        <li class="menu-button" (click)="redirectToPage('/jobs')">
            Vagas
        </li>
        <li class="menu-button" >
            Para empresas
        </li>
        <li class="menu-button">
            Sobre nós
        </li>
        <li class="menu-button">
            Entrar/Registrar
        </li>
    </ul>
</div>