* {
	margin: 0;
	padding: 0;
    list-style-type: none;
}

.menu-content {
    background-color: white;

    .menu, .logo {
        display: grid;
        place-content: center;
    }

    .menu-list {
        float: right;

        .menu-item {
            padding-left: 1em;
            padding-right: 1em;

            
            p {
                transition: 0.5s;
                margin: 0;
            }

            p:hover {
                transform: scale(1.1);
                color: var(--second-color);
            }

            p:hover {
                cursor: pointer;
            }
        }

        .menu-item:hover {
            .submenu{
                display: block;
            }
        }
    }

    .menu tr td:last-child {
        background: var(--second-color);
        border-radius: 10px;
        padding: 10px 30px 10px 30px;
        cursor: pointer;
    }
    
    .menu tr td:last-child p {
        color: white;
    }

    .menu tr td:last-child p:hover {
        color: white;
    }

    .submenu {
        display: none;
        background-color: white;
        padding: 1em;
        width: auto;
        position: fixed;
        border: 1px solid var(--primary-color);
        z-index: 9999;

        span {
            color: #506172;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
            font-weight: normal;
        }

        span:hover {
            color: var(--second-color) !important;
            cursor: pointer;
        }

        ul li {
            padding: 10px;
        }

        ul li hr {
            padding: 0;
        }
    }
}

.blue-bar {
    background-color: var(--primary-color);
    color: white;
    padding: 13px 80px;
}

.menu-mobile{
    background-color: white;

    .logo {
        display: grid;
        place-content: center;
    }

    display: none;
    .menu-mobile-content {
        .menu {
            .menu-button-mobile {
                margin-left: 75%;
                .pi {
                    color: var(--second-color);
                    font-size: 2em;
                }
            }

            .p-slidemenu.p-slidemenu-overlay {
                top: 65% !important;
            }
        }
    }
}

@media(max-width:960px){
    .menu-bar{
        display: none;
    }

    .menu-mobile{
        display: block;
        width: 100%;
    }
}