.spinner {
  margin: 3%;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #008744;
  }
  40% {
      stroke: #008744;
  }
  66% {
      stroke: #008744;
  }
  80%,
  90% {
      stroke: #008744;
  }
}
