<div class="hireme-content">

    <div class="job-candidate-header spacer-bottom">
        <h1>{{jobTitle}}</h1>
    </div>

    <div class="job-candidate-sub-header align-center spacer-bottom">
        <p>Aqui estão os candidatos que aplicaram para essa vaga.</p>
        <p>Ao clicar no nome do candidato, é possivel visualizar seu perfil.</p>
    </div>

    <div class="job-candidates list">
        <p-table [value]="candidates" class="hire-me-datatable" styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="candidateName">Candidato <p-sortIcon field="candidateName"></p-sortIcon></th>
                    <th pSortableColumn="applicationDate">Data aplicação <p-sortIcon field="applicationDate"></p-sortIcon></th>
                    <th pSortableColumn="status">Status aplicação <p-sortIcon field="status"></p-sortIcon></th>
                    <th>Visualizar processo</th>
                    <th>Mensagem</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-candidate>
                <tr>
                    <td>
                        <span class="p-column-title">Candidato</span>
                        <span class="clickable" (click)="openCandidateProfile(candidate.candidateId)">{{candidate.candidateName}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">Data aplicação</span>
                        {{candidate.applicationDate}}
                    </td>
                    <td>
                        <span class="p-column-title">Status aplicação</span>
                        <span *ngIf="candidate.status === 'P'">Pendente</span>
                        <span *ngIf="candidate.status === 'A'">Aprovada</span>
                        <span *ngIf="candidate.status === 'R'">Rejeitada</span>
                    </td>
                    <td>
                        <span class="p-column-title">Visualizar processo</span>
                        <p-button label="Processo" (click)="openProcess(candidate)"></p-button>
                    </td>
                    <td>
                        <span class="p-column-title">Mensagem</span>
                        <p-button label="Mensagem" (click)="openMessage(candidate.candidateId)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>