<div class="upper-menu">
    <div class="logo" align="center">
    </div>
    <div class="menu-item">
        <div class="columns">
            <div class="row">
                <a class="menu-option">Página inicial</a>
            </div>
            <div class="row">
                <a (click)="loadPage('Jobs')" class="menu-option">Cadastro de vagas</a>
            </div>
            <div class="row">
                <a class="menu-option">Configurações</a>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <ng-container *ngComponentOutlet="page"></ng-container>
    </div>
</div>