<div class="messages-content">

    <div class="messages-header">
        <h1>Mensagens</h1>
    </div>

    <div class="messages-input-text spacer-bottom">
        <p-card header="Sua mensagem">
            <textarea pInputTextarea [cols]="30" [rows]="10" [(ngModel)]="message.message"></textarea>

            <p-button label="Enviar" (click)="sendMessage()"></p-button>
        </p-card>
    </div>

    <div class="messages-body-content">
        <p-card>
            <div *ngFor="let message of messages" [ngClass]="message.mine ? 'message mine' : 'message'">
                <div class="message-header">
                    <p style="text-align:left;">
                        <b>{{message.fromName}}</b>
                        <span style="float:right;">
                            {{transformDate(message.sentDate)}}
                        </span>
                    </p>
                </div>
                {{message.message}}
            </div>
        </p-card>
    </div>
</div>