@import '~bootstrap/scss/bootstrap';

@import '~@angular/material/theming';

@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/saga-green/theme.css';

@include mat-core();

$hire-me-primary: mat-palette($mat-indigo);
$hire-me-accent: mat-palette($mat-pink, A200, A100, A400);

$hire-me-warn: mat-palette($mat-red);

$hire-me-theme: mat-light-theme($hire-me-primary, $hire-me-accent, $hire-me-warn);

@include angular-material-theme($hire-me-theme);

:root {
    --primary-color: #DC7145;
    --second-color: #EB8756;
    --third-color: #FA9760;

    --new-p-color: #0F1626;
    --new-s-color: #AB987A;
    --new-t-color: #FF533D;
    --new-f-color: #F5F5F5;
}

.mat-icon.mat-accent {
    color: white;
}

html, body { 
    height: 100%;
    width: auto;
}

@media(max-width: 754px){
    body {
        width: fit-content;
    }
}

@media(max-width: 320px) {
    * {
        font-size: small;
    }
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

