@import '~bootstrap/scss/bootstrap';


@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --primary-color: #002d5b;
    --second-color: #ff656a;
    --thrid-color: #3C9C6B;
}

.mat-icon.mat-accent {
    color: white;
}

html, body { 
    height: 100%;
    width: auto;
    overflow-x: hidden;
}

@media(max-width: 754px){
    body {
        width: fit-content;
    }
}

@media(max-width: 320px) {
    * {
        font-size: small;
    }
}

body { 
    margin: 0; 
    font-family: "Poppins",sans-serif !important;
}

.hireme-confirm-button, .hireme-green-button {
    .p-button {
        background: var(--thrid-color) !important;
        border: var(--thrid-color) !important;
    }
    
    .p-button:hover {
        background: var(--thrid-color) !important;
    }
}

.hireme-reject-button {
    .p-button {
        background: var(--second-color) !important;
        border: var(--second-color) !important;
    }
    
    .p-button:hover {
        background: red !important;
    }
}

.p-button {
    background: var(--second-color) !important;
    border: var(--second-color) !important;
}

.p-button:hover {
    background: var(--second-color) !important;
}

.p-button:enabled:hover 
.p-button:enabled:active {
    border: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: none;
}

.p-inputtext {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins",sans-serif !important;
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 14px;
    font-family: "Poppins",sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}

.separator {
    background-color: var(--second-color);
    margin-top: 0;
    margin-bottom: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1)
}

.spacer {
    margin: 15px !important;
}

.spacer-top {
    margin-top: 15px !important;
}

.spacer-bottom {
    margin-bottom: 15px !important;
}

.spacer-left {
    margin-left: 15px !important;
}

.spacer-right {
    margin-right: 15px !important;
}

.hireme-content {
    margin-top: 5%;
    width: 100%;
}

.hire-me-datatable {
    .p-datatable .p-datatable-thead > tr > th {
        border: none;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        font-family: "Poppins",sans-serif !important;
        border: none !important;
    }

    .p-datatable .p-datatable-tbody > tr:nth-child(odd) {
        background-color: #efefef;
    }
}

.p-dialog .p-dialog-header {
    border: none !important;
    background-color: var(--primary-color);
    color: white;

    .pi {
        color: white;
    }
}

.p-dialog .p-dialog-content {
    border: none;
}

.hire-me-accordion {
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link, 
    .p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
        background-color: var(--primary-color) !important;
        color: white;
    }

}

.hire-me-accordion-red {
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link, 
    .p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
        background-color: var(--second-color) !important;
        color: white;
    }

}

.align-end {
    text-align: end !important;
}

.align-center {
    text-align: center !important;
}

.icon-column-alignment {
    text-align: center !important;
}

.fifteen-px-margin{
    margin: 15px;
}

.clickable {
    cursor: pointer;
}

.p-card {
    box-shadow: 0 6px 15px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

@media(max-width: 719px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 40rem) {
    .icon-column-alignment {
        text-align: left !important;
    }
}