<div align="center">
    <app-hire-me-title [text]="'Cadastro de páginas'"></app-hire-me-title>
</div>

<app-loading-spinner [showText]="true" *ngIf="isLoading"></app-loading-spinner>

<div align="center" *ngIf="!isLoading">
    <br>
    <app-hire-me-title [text]="'Permissão de usuário'"></app-hire-me-title>
    <div *ngFor="let profile of profiles" style="color: white;">
        <mat-checkbox [value]="profile.id" (change)="checkEvent($event)">{{profile.constante}}</mat-checkbox>
    </div>
    <br><br>
</div>