.page-register-content {
    padding: 9px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

input {
    margin-bottom: 15px;
}

span {
    margin-left: 15px;
}

button {
    margin-top: 15px;
}