<app-loading-spinner [showText]="true" *ngIf="loading"></app-loading-spinner>

<div class="job-detail-content" *ngIf="!loading">
    <div class="jobs-detail-header">
        <div class="title">
            <h1>{{ job.title }}</h1>
            <p style="text-align: center;">{{ job.city }}, {{ job.state }} - {{ job.country }}</p>
        </div>
    </div>

    <hr class="separator">

    <div class="job-details-text">
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-8 description">
                <h5>Descrição</h5>
                <p>{{ job.description }}</p>
            </div>
            <div class="p-col-12 p-md-12 p-lg-4 details">
                <h5>Salário</h5>
                <p>R$ {{ job.salary }}</p>

                <h5>Benefícios</h5>
                <p *ngFor="let benefit of job.jobBenefits">{{benefit.benefit}}</p>

                <h5 *ngIf="alreadyApplied">Candidatura</h5>
                <p *ngIf="alreadyApplied">Você já se candidatou para está vaga :)</p>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12 button">
                <p-button label="Candidatar-se" (click)="confirmJobApplication()" *ngIf="logged && !alreadyApplied"></p-button>
                <p-button label="Efetuar login" (click)="doLogin()" *ngIf="!logged"></p-button>
            </div>
        </div>
    </div>
</div>