.content {
    padding: 9px;
}

.job-title {
    width: 90%;
}

.back-button {
    padding: 9px;
}

.confirmBarTitle {
    margin-bottom: 10px;
}

.confirmBarButtons {
    button {
        margin-right: 10px;
    }
}
