<div class="body-details">
    <div *ngIf="isLoading">
        <app-loading-spinner [showText]="true"></app-loading-spinner>
    </div>
    <div class="content" *ngIf="!isLoading">
        <div>
            <div class="title-content" style="display: flex;">
                <h1 class="job-title">{{ job.title }}</h1>
            </div>
        </div>
        <hr>
        <div class="job-description">
            {{ job.description }}
        </div>
        <hr>
        <div class="job-detail">
            Detalhes:
            <li>Cidade: {{ job.city }}</li>
            <li>Estado: {{ job.state }}</li>
            <li>País: {{ job.country }}</li>
            <li>Remuneração: R$ {{ job.salary }}</li>
        </div>

        <hr>

        <button pButton label="Candidatar-se" (click)="showConfirmDialog()"></button>
        <span style="padding: 5px;"></span>
        <button pButton label="Voltar" class="p-button-danger" (click)="backButton()"></button>

        <p-confirmDialog #confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000">
            <p-footer>
                <button type="button" pButton icon="pi pi-times" label="Sim" (click)="confirmDialog.accept()"></button>
                <button type="button" pButton icon="pi pi-check" label="Não" class="p-button-danger" (click)="confirmDialog.reject()"></button>
            </p-footer>
        </p-confirmDialog>
    </div>
</div>