.applied-jobs-content {
    margin: 0;
    overflow-x: hidden;
}


.applied-jobs-header {
    background-image: url('../../../assets/img/about_hero.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 200px;

    display: grid;
    place-items: center;


    .title {
      h1 {
        text-align: center !important;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
          color: #fff;
      }
    }
}

.applied-jobs-list {
    padding: 3%;
}

p {
    margin-bottom: 0;
}

.applied-jobs-list .pi {
    color: var(--primary-color);
    font-size: large;
}

.no-jobs-found {
    text-align: center;
    .p-button {
        margin-top: 15px !important;
    }
}