<div *ngIf="isLoading">
    <app-loading-spinner [showText]="true"></app-loading-spinner>
</div>
<div class="content-jobs" *ngIf="!isLoading">
    <span *ngIf="jobs.length == 0">Não existem vagas cadastradas</span>
    <div align="center" style="margin-bottom: 3.5%;">
        <app-hire-me-title *ngIf="jobs.length != 0" [text]="'Aqui estão as vagas para qual você aplicou'"></app-hire-me-title>
    </div>
    <p-table [value]="jobs">
        <ng-template pTemplate="header">
            <tr>
                <th>Vaga</th>
                <th style="text-align: center;">Informações da vaga</th>
                <th style="text-align: center;">Cancelar aplicação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
            <tr>
                <td>{{job.title}}</td>
                <td style="text-align: center;">
                    <i class="pi pi-info-circle" style="cursor: pointer;"></i>
                </td>
                <td style="text-align: center;">
                    <i class="pi pi-times" style="cursor: pointer;"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<ng-template #dialogConfirm>
    <div class="confirm-body" style="padding: 9px; color: black;">
        <h1 class="job-title">Cancelar aplicação para vaga</h1>
        <hr>
        <div class="text-confirm" style="margin-bottom: 5px;">
            Deseja mesmo cancelar a aplicação para {{dialogJobTitle}}?
        </div>
        <div class="button-confirm" style="display: flex;">
        </div>
    </div>
</ng-template>