<div *ngIf="isLoading">
    <app-loading-spinner [showText]="true"></app-loading-spinner>
</div>
<div class="content-jobs" *ngIf="!isLoading">
    <span *ngIf="jobs.length == 0">Não existem vagas cadastradas</span>
    <div align="center" style="margin-bottom: 3.5%;">
        <app-hire-me-title *ngIf="jobs.length != 0" [text]="'Aqui estão as vagas para qual você aplicou'"></app-hire-me-title>
    </div>
    <p-table [value]="jobs">
        <ng-template pTemplate="header">
            <tr>
                <th>Vaga</th>
                <th style="text-align: center;">Informações da vaga</th>
                <th style="text-align: center;">Cancelar aplicação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
            <tr>
                <td>{{job.title}}</td>
                <td style="text-align: center;">
                    <i class="pi pi-info-circle" style="cursor: pointer;"></i>
                </td>
                <td style="text-align: center;">
                    <i class="pi pi-times" style="cursor: pointer;" (click)="showCancelConfirmDialog(job)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog #confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmDialog.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" class="p-button-danger"
            (click)="confirmDialog.reject()"></button>
    </p-footer>
</p-confirmDialog>